@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

/* :root {
  --theme-orange: #d96c47;
  --theme-blue: #55c2e6;
  --theme-pink: #ff5e7d;
  --theme-green: #4bcf82;
  --theme-purple: #5a1cbb;
  --theme-yellow: #f1c75b;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 375px;
  height: 150vh;
  margin: 1rem;
  background-color: #0e1323;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.person {
  margin-top: 4rem;
  background-color: #5747ea;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}

.person-data {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.content-inner {
  display: flex;
  align-items: center;
  width: 256px;
  height: 122px;
  gap: 1.5rem;
}

.person__image img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.person__name span {
  color: #bbc0ff;
  font-size: 12px;
  font-weight: 200;
}

.person__name h1 {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

.da-we-mo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  width: 327px;
  background-color: #1c204b;
  border-radius: 0 0 10px 10px;
}

.da-we-mo::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  height: 40px;
  width: 40px;
  border-bottom-left-radius: 30%;
  box-shadow: 0 20px 0 0 #1c204b;
}

.da-we-mo::after {
  content: "";
  position: absolute;
  top: -40px;
  right: 0;
  height: 40px;
  width: 40px;
  border-bottom-right-radius: 30%;
  box-shadow: 0 20px 0 0 #1c204b;
}

.da-we-mo span {
  color: #7078c9;
  font-size: 12px;
  font-weight: 200;
  cursor: pointer;
  height: 30px;
  margin-top: 20px;
}

.play-card {
  /* background-color: #d96c47; */
  border-radius: 10px;
  margin-top: 1rem;
}

.image-show {
  width: 327px;
  height: 29px;
  margin-bottom: 1rem;
  position: relative;
}

.image-show img {
  filter: invert(10%);
  position: absolute;
  top: -9px;
  right: 15px;
  clip: rect(10px, 327px, 54px, 0);
}

.content {
  width: 327px;
  height: 122px;
  background-color: #1c204b;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  border-radius: 10px;
}

.content:hover {
  opacity: 0.8;
  cursor: pointer;
}

.work-hours h2 {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 0.8rem;
}

.three-dots span {
  color: #bbc0ff;
  font-size: 12px;
  font-weight: 200;
}

.work-hours .hours span {
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  cursor: pointer;
}

.three-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.three-dots .dot {
  margin-left: 4.2rem;
}

.da-we-mo span:hover {
  color: aliceblue;
  transition: 0.6s ease-in-out;
  transform: rotate(45deg);
}

@media (min-width: 768px) {
  .container {
    width: 1440px;
    height: 98vh;
    background-color: #0e1323;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
  }

  .desktop-data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    position: absolute;
    top: 13rem;
    left: 23rem;
    margin-left: 1.5rem;
    margin-top: 0;
  }

  .person {
    width: 255px;
    height: 315px;
    position: absolute;
    top: 9rem;
    left: 6rem;
    margin-left: 1.5rem;
  }

  .content-inner {
    flex-direction: column;
    margin-right: 7rem;
    margin-bottom: 6rem;
  }

  .person__name {
    width: 139px;
  }

  .person__name span {
    margin-left: 2rem;
  }

  .person__name h1 {
    margin-left: 2rem;
    font-size: 23px;
    font-weight: 300;
    letter-spacing: 0.1rem;
  }

  .da-we-mo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 255px;
    height: 123px;
    position: absolute;
    top: 19rem;
    left: 0;
    gap: 0;
  }

  .da-we-mo span {
    color: #7078c9;
    font-size: 12px;
    font-weight: 200;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 0;
  }

  .image-show {
    width: 255px;
    height: 28px;
    position: relative;
  }

  img .adjust {
    border: 2px solid red;
    filter: invert(18%);
    position: absolute;
    top: -10px;
    right: 15px;
    clip: rect(10px, 327px, 54px, 0);
  }

  .content {
    display: flex;
    width: 255px;
    height: 160px;
    gap: 1rem;
  }

  .work-hours h2 {
    margin-top: -2rem;
  }

  .three-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .three-dots span {
    position: absolute;
    top: 6.3rem;
    left: -7rem;
    margin-left: 0;
    margin-right: 0;
  }

  .changer .week-1 {
    margin-left: -1.1rem;
  }

  .changer .week-2 {
    margin-left: -0.6rem;
  }

  .changer .week-3 {
    margin-left: 0.4rem;
  }

  .changer .week-4 {
    margin-left: 0;
  }

  .changer .week-5 {
    margin-right: 0.3rem;
  }

  .changer .week-6 {
    margin-left: 0.2rem;
  }

  .work-hours .hours span {
    font-size: 3rem;
    font-weight: 300;
  }

  .three-dots .dot {
    margin-left: 3rem;
    margin-bottom: 6rem;
  }
}
