@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 375px;
  height: 100vh;
  margin: 1rem;
  background-color: #0e1323;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.person {
  width: 327px;
  margin-top: 4rem;
  background-color: #5747ea;
  height: 133px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.person-data {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border-radius: 0 0 10px 10px;
  z-index: 1;
}

.person__image img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.person__name {
  width: 137px;
  height: 50px;
}

.person__name span {
  color: #bbc0ff;
  font-size: 12px;
  font-weight: 200;
}

.person__name h1 {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

.da-we-mo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 1rem;
  width: 327px;
  height: 60px;
  background-color: #1c204b;
  border-radius: 0 0 10px 10px;
}

.da-we-mo::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  height: 40px;
  width: 40px;
  border-bottom-left-radius: 50%;
  box-shadow: 0 20px 0 0 #1c204b;
}

.da-we-mo::after {
  content: "";
  position: absolute;
  top: -40px;
  right: 0;
  height: 40px;
  width: 40px;
  border-bottom-right-radius: 50%;
  box-shadow: 0 20px 0 0 #1c204b;
}

.da-we-mo span {
  color: #7078c9;
  font-size: 12px;
  font-weight: 200;
  cursor: pointer;
}

.da-we-mo span:hover {
  color: aliceblue;
  transition: 0.6s ease-in-out;
  transform: rotate(45deg);
}

.play-card {
  width: 327px;
  height: 160px;
  /* background-color: #1c204b; */
  background-color: #d96c47;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.image-show {
  width: 327px;
  height: 58px;
  /* background-color: #1c204b; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
}

.image-show img {
  filter: invert(25%);
  position: absolute;
  top: -10px;
  right: 15px;
  clip: rect(9px, 327px, 58px, 0);
}
