@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 375px;
  height: 100vh;
  margin: 1rem;

  /* height: 935px; */
  background-color: #0e1323;
  display: flex;
  justify-content: center;
}

.person {
  width: 327px;
  margin-top: 4rem;
  background-color: #5747ea;
  height: 133px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.person-data {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.person__image img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.person__name {
  width: 137px;
  height: 50px;
}

.person__name span {
  color: #bbc0ff;
  font-size: 12px;
  font-weight: 200;
}

.person__name h1 {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
